<footer class="footer-section">
    <div class="semi-footer">    
        <img src="/../assets/image/home/home-footer.png" class="img-responsive" alt="">
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="foo-logo">
                        <img src="/../assets/image/footer-logo.png" alt="Mukoko logo">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="foo-list roboto">
                        <h6 class="roboto">Company</h6>
                        <a href="">About Us</a>
                        <a href="">Stories</a>
                        <a href="">Online Shop </a>
                        <a href="">Sponser Now</a>
                        <a href="">Partner Us</a>
                        <a href="">FAQs</a>
                        <a href="">Blog</a>
                        <a href="">Contact Us</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="foo-list roboto">
                        <h6 class="roboto">Legal</h6>
                        <a href="">Privacy Policy</a>
                        <a href="">Disclaimer</a>
                        <a href="">Terms of use</a>
                        <a href="">Terms of Sponsorship</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="foo-list roboto">
                        <h6 class="roboto">Contact</h6>
                        <address class="roboto">
                            info@pamukoko.com<br/>
                            +234 (0) 706 000 0000
                        </address>
                        <div class="social-icon">
                            <a href="" class="face"><i class="fa fa-facebook"></i></a>
                            <a href="" class="twit"><i class="fa fa-twitter"></i></a>
                            <a href="" class="link"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right text-center">
                <p class="roboto">Secured with SSL  | Copyright © 2020 Mukoko Platfom. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
