<footer class="footer-section">
    <div class="semi-footer">
        <img src="/../assets/image/home/{{footer.topImg}}" class="img-responsive" alt="">
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="foo-logo">
                        <img src="/../assets/image/{{footer.logo}}" alt="Mukoko logo">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="foo-list roboto">
                        <h6 class="roboto">{{footer.company}}</h6>
                        <a routerLink="{{footer.aboutLink}}">{{footer.about}}</a>
                        <a routerLink="{{footer.storiesLink}}">{{footer.stories}}</a>
                        <a routerLink="{{footer.onlineshopLink}}">{{footer.onlineShop}} </a>
                        <a routerLink="{{footer.sponserLink}}">{{footer.sponser}}</a>
                        <a routerLink="{{footer.partnerLink}}">{{footer.partner}}</a>
                        <a routerLink="{{footer.faqsLink}}">{{footer.faqs}}</a>
                        <a routerLink="{{footer.blogLink}}">{{footer.blog}}</a>
                        <a routerLink="{{footer.contactLink}}">{{footer.contact}}</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="foo-list roboto">
                        <h6 class="roboto">{{footer.legal}}</h6>
                        <a routerLink="{{footer.partnerLink}}">{{footer.privacy}} </a>
                        <a routerLink="{{footer.disclaimerLink}}">{{footer.disclaimer}}</a>
                        <a routerLink="{{footer.termsUseLink}}">{{footer.termsUse}} </a>
                        <a routerLink="{{footer.termssponsorshipLink}}">{{footer.termssponsorship}} </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="foo-list roboto">
                        <h6 class="roboto">{{footer.cotactHead}}</h6>
                        <address class="roboto">
                            {{footer.adress}}<br/>
                            {{footer.tel}}
                        </address>
                        <div class="social-icon">
                            <a href="" class="face"><i class="fa fa-facebook"></i></a>
                            <a href="" class="twit"><i class="fa fa-twitter"></i></a>
                            <a href="" class="link"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right text-center">
                <p class="roboto"><i class="fa fa-lock"></i>{{footer.copyrighttext}}</p>
            </div>
        </div>
    </div>
</footer>
