
.checkout-banner{
  background: url('../../assets/image/checkout-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}
.main-heading{
  padding-bottom: 25px;
  font-size: 28px;
  font-family: 'Roboto';
}
/*---CHECKOUT CSS---*/
.cart-totals {
  background: #f7f7f7;
  padding: 40px 25px;
}
.cart-totals h3 {
  font-size: 18px;
  color: #17140f;
  font-family: 'open sans';
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;
}
form.billingFrom {
  margin-bottom: 100px;
}
.billingFrom h3 {
  color: #222222;
  font-family: 'Roboto';
  font-size: 32px;
  margin: 10px 0px;
  font-weight: 400;
}
.billingFrom h6{
  color: #222222;
  font-family: 'Roboto';
  font-size: 22px;
  margin: 10px 0px;
  font-weight: 400;
  margin-bottom: 60px;
}
.all-label{
  color: #222222;
  font-size: 14px;
  font-family: 'Open Sans';
}
.input-list label {
  display: block;
  padding: 5px 0px;
  margin: 0 0 10px 0;
  color: #7f7f7f;
  font-family: 'Open Sans';
  font-size: 14px
}
.input-list input, .input-list select {
  border: 1px solid #dfdfdf;
  background: #fff;
  width: 100%;
  border-radius: 25px;
  padding: 10px 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.input-list textarea {
  border: 1px solid #dfdfdf;
  background: #fff;
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px;
  line-height: 24px;
  min-height: 175px;
}
form.contactFrom .site-btn {
  margin: 20px 0px;
}
form.billingFrom a.site-btn {
  width: 100% !important;
  margin-top: 30px;
}
form.cartForm tr td {
  width: auto !important;
}
form.cartForm tr:first-child{
  border-top: none;
}
form.cartForm tr{
  border-top: 1px solid #b9b9b9;
}
.cart-totals form table tr td {
  padding: 15px 0px;
}
.cart-totals form table tr td span {
  font-size: 14px;
  color: #222222;
}
.cart-totals form table td:nth-child(2) {
  padding-left: 10px !important;
  padding-right: 20px !important;
}
.cart-edit a{
  color: #929292;
  font-size: 12px;

}
@media(max-width:800px){
  .billingFrom form {
      width: 100%;
  }
}