 <!--Banner start-->
 <div class="bradcam_area bradcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                  
                </div>
            </div>
        </div>
    </div>
</div>
 <!--Banner END-->
 
 
 <!--safe section Stat-->
  <section class="safe-section">
    <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="safe-head text-left">
                        <h4 class="roboto"> Safe, Confidential and Insured</h4> 
                        <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  </p>
                    </div>
                </div>
                <div class="col-sm-4">
                        <img src="/../assets/image/home/safe.png" class="img-responsive" alt="What people say about us">
                </div>
            </div>
        </div>
</section>
<!--safe section END-->