 <!--Banner start-->
 <div class="bradcam_area about-banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-left">
                    <h3>About Us</h3>
                    <p>Who we are</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--Banner END-->
   <!--about-->
   <section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="people-head text-left">
                    <h6 class="default-mustard openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
                        Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. 
                        Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="/../assets/image/about/about-us.png" class="img-responsive" alt="about us">
            </div>
        </div>
    </div>
</section>
<!--about END-->
 <section class="vission-mission">
     <div class="container">
            <div class="vissions">
                <section>
                    <div class="row">
                        <span class="vissions-icon col-sm-2"><img src="/../assets/image/about/scope.png" alt="Our Vision"></span>
                        <div class="vision-content col-sm-10">
                            <h4 class="roboto"> Our Vision  </h4>
                            <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <span class="vissions-icon col-sm-2"><img src="/../assets/image/about/rocket.png" alt="Our Vision"></span>
                        <div class="vision-content col-sm-10">
                            <h4 class="roboto"> Our Mission</h4>
                            <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </section>
         </div>
     </div>
 </section>
 <!--safe section Stat-->
  <section class="safe-section">
    <div class="container">
            <div class="heading text-center">
                <h4 class="roboto"> Our Core Values</h4> 
                <p class="openSansSemi">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="icon-block text-center">
                        <img src="/../assets/image/about/icon-men.png" alt="Icon">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="icon-block text-center">
                        <img src="/../assets/image/about/icon-men.png" alt="Icon">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="icon-block text-center">
                        <img src="/../assets/image/about/icon-men.png" alt="Icon">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                </div>
            </div>
        </div>
</section>
<!--safe section END-->
<!--HOW IT WORK START-->
<section class="work-start-section">
    <div class="container">
        <h4 class="text-center work-heading roboto">How it works</h4>
        <div class="works">
            <section>
                <span class="work-icon"><img src="/../assets/image/home/join-mukoko.png" alt="join Mukoko"></span>
                <h4 class="roboto">Join Mukoko</h4>
                <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </section>
            <section>
                <span class="work-icon"><img src="/../assets/image/home/investment.png" alt="Start Investing"></span>
                <h4 class="roboto">Start Investing</h4>
                <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </section>
            <section>
                <span class="work-icon"><img src="/../assets/image/home/track.png" alt="Track Updates"></span>
                <h4 class="roboto">Track Updates</h4>
                <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </section>
            <section>
                <span class="work-icon"><img src="/../assets/image/home/get-return.png" alt="Get Returns"></span>
                <h4 class="roboto">Get Returns</h4>
                <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </section>
        </div>
        <div class="work-info-foo text-center">
            <h4 class="openSansSemi">Get instant answers for the most common questions here.</h4>
            <a class="btn green-lg-btn roboto" href="#">Frequently Asked Questions</a>
        </div>
    </div>
</section>
<!--HOW IT WORK END-->

<!--Our Team start-->
<section class="our-team">
    <div class="container">
        <div class="headline text-left">
            <h6>Our Team</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="OurTeam-section">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="icon-team">
                            <span>
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    <div class="card-body">
                    <p class="card-text">Person Name <br/> Designation</p>
                     <div class="text-center team-social">
                         <a href="#"><i class="fa fa-linkedin"></i></a>
                         <a href="#"><i class="fa fa-twitter"></i></a>
                     </div>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="icon-team">
                            <span>
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    <div class="card-body">
                    <p class="card-text">Person Name <br/>Designation</p>
                     <div class="text-center team-social">
                         <a href="#"><i class="fa fa-linkedin"></i></a>
                         <a href="#"><i class="fa fa-twitter"></i></a>
                     </div>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="icon-team">
                            <span>
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    <div class="card-body">
                    <p class="card-text">Person Name <br/>Designation</p>
                     <div class="text-center team-social">
                         <a href="#"><i class="fa fa-linkedin"></i></a>
                         <a href="#"><i class="fa fa-twitter"></i></a>
                     </div>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="icon-team">
                            <span>
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    <div class="card-body">
                    <p class="card-text">Person Name <br/>Designation</p>
                     <div class="text-center team-social">
                         <a href="#"><i class="fa fa-linkedin"></i></a>
                         <a href="#"><i class="fa fa-twitter"></i></a>
                     </div>
                    </div>
                    </div>
                </div>    
        </div>
    </div>
    </div>
</section>
<!--Our Team end-->