<!--Banner start-->
<div class="bradcam_area checkout-banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-left">
                    <h3>Order Confirmations</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--Banner END-->
<!--Cart Page Start-->
<section class="checkout-section spad">
    <div class="container">
      <div class="row">
      <div class="col-md-12 col-lg-8">
      <div class="main-heading">Billing Details</div>
      <form action="#" class="billingFrom">
          <div class="input-list">
              <div class="row">
                  <div class="col-sm-6">
                      <label>First name</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Last name</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Email</label>
                      <input type="number" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Phone number</label>
                      <input type="text" value="" required>
                  </div>
                  <hr style=" display: block; clear: both;width: 100%;">
                  <div class="main-heading">Shipping Address</div>
                  <div class="col-sm-12">
                      <label>Address</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>City</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>State/Province</label>
                      <input type="number" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Zip/Posta</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Country</label>
                      <select required>
                        <option>1</option>
                        <option>1</option>
                      </select>
                  </div>
                  <hr style=" display: block; clear: both;width: 100%;">
                  <div class="main-heading">Payment Method</div>
                  <div class="col-sm-12">
                      <label>Please Select Your Card Type</label>
                      <select>
                        <option>Card Type</option>
                        <option>Visa</option>
                        <option>Master Card</option>
                        <option>Amex</option>
                      </select>
                  </div>
                  <div class="col-sm-12">
                      <label>Card Number</label>
                      <input type="number" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Expiry Date</label>
                      <select class="form-control" name="">
                          <option value="">Month</option>
                          <option value="01">01</option>
                          <option value="02">02</option>
                          <option value="03">03</option>
                          <option value="04">04</option>
                          <option value="05">05</option>
                          <option value="06">06</option>
                          <option value="07">07</option>
                          <option value="08">08</option>
                          <option value="09">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                  </select>
                  </div>
                  <div class="col-sm-6">
                      <label>CSC/CVV</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>First Name</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Last Name</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-12">
                   By clicking the button you agree to the
                   <a href="#" class="default-lightGreen">Terms and Conditions</a>
                  </div>
              </div>
          </div>
          <div class="text-center col-sm-12">
          <a href="#" class="site-btn">Place Order</a>
         </div>
      </form>
      </div>
      <div class="col-md-12 col-lg-4">
      <div class="cart-totals">
      <h3>Cart summary</h3>
      <form action="#" method="get" class="cartForm" accept-charset="utf-8">
      <table>
      <tbody>
      <tr>
      <td>
          <img class="img-responsive" src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg">
      </td>
      <td>
          <span>Poultry Farm Processing and Trading</span>
      </td>
      <td class="subtotal">₦40,000</td>
      </tr>
      <tr>
          <td>
              <img class="img-responsive" src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg">
          </td>
          <td>
              <span>Poultry Farm Processing and Trading</span>
          </td>
          <td class="subtotal">₦40,000</td>
          </tr>
      <tr class="total-row">
      <td colspan="2">Total Cost</td>
      <td class="price-total">₦40,000</td>
      </tr>
      </tbody>
      </table>
      <div class="cart-edit text-right">
      <a href="#"  title="Edit your order">Edit your order</a>
      </div>
      <!-- /.btn-cart-totals -->
      </form>
      <!-- /form -->
      </div>
      <!-- /.cart-totals -->
      </div>
      </div>
    </div>
  </section>
  <!--Cart Page End-->