 <!--Banner start-->
 <div class="bradcam_area partner-banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-left">
                    <h3>Partner Us</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--Banner END-->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Tell us about your farming</h3>
                <h6>Please complete this form if you are looking for project sponsorship.</h6>
                <form action="#" class="contactFrom">
                    <label class="all-label">All fields with * are required</label>
                    <div class="input-list">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>First name</label>
                                <input type="text" value="" required>                                         
                            </div>
                            <div class="col-sm-6">
                                <label>Last name</label>
                                <input type="text" value="" required>                                         
                            </div>
                            <div class="col-sm-6">
                                <label>Phone</label>
                                <input type="number" value="" required>                                         
                            </div>
                            <div class="col-sm-6">
                                <label>Email</label>
                                <input type="text" value="" required>                                         
                            </div>
                            <div class="col-sm-6">
                                <label>Provide Project Details *</label>
                                <input type="number" value="" required>                                         
                            </div>
                            <div class="col-sm-6">
                                <label>Location *</label>
                                <input type="text" value="" required>                                         
                            </div>
                            <div class="col-sm-12">
                                <label>Provide Project Details *</label>
                                <textarea value="Provide Project Details"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                    <a href="#" class="site-btn">Submit</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>