<h2 style="margin-top:100px;border-bottom:solid"> Cart Page </h2>
<!--Cart Page Start-->
<section class="cart-section">
  <div class="container">
    <div class="row">
    <div class="col-md-12 col-lg-8">
    <div class="main-heading">Shopping Cart</div>
    <div class="table-cart">
    <table>
    <thead>
    <tr>
    <th>Sponsorship Details</th>
    <th>Unit</th>
    <th class="text-center">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>
    <div class="display-flex align-center">
    <div class="img-product">
      <img src="https://www.91-img.com/pictures/laptops/asus/asus-x552cl-sx019d-core-i3-3rd-gen-4-gb-500-gb-dos-1-gb-61721-large-1.jpg" alt="" class="mCS_img_loaded">
    </div>
    <div class="name-product">
      <h5>Poultry Farm Processing and Trading</h5>
      <div class="cart-info">
          <ul class="cart-list">
            <li><i class="fa fa-map-marker default-mustard"></i> Lagos State</li>
            <li><i class="fa fa-insurance"></i> Insurance Covered</li>
          </ul>
          <ul class="cart-info-detials">
            <li>
              <span>Returns</span>
              14%
            </li>
            <li>
              <span>Duration</span>
              6 Months
            </li>
            <li>
              <span>Units available</span>
              10
            </li>
          </ul>
      </div>
    </div>

    </div>
    </td>
    <td class="product-count">
    <form action="#" class="count-inlineflex">
    <div class="qtyminus">-</div>
    <input type="text" name="quantity" value="1" class="qty">
    <div class="qtyplus">+</div>
    </form>
    </td>
    <td>
    <div class="total">
     <span class="amount">₦20,000</span>
    <ul class="option">
      <li><a href="#">Edit</a></li>
      <li><a href="#">Save for later</a></li>
      <li><a href="#"><i class="fa fa-trash"></i></a></li>
    </ul>
    </div>
    </td>
    </tr>
    <tr>
        <td>
        <div class="display-flex align-center">
        <div class="img-product">
          <img src="https://www.91-img.com/pictures/laptops/asus/asus-x552cl-sx019d-core-i3-3rd-gen-4-gb-500-gb-dos-1-gb-61721-large-1.jpg" alt="" class="mCS_img_loaded">
        </div>
        <div class="name-product">
          <h5>Poultry Farm Processing and Trading</h5>
          <div class="cart-info">
              <ul class="cart-list">
                <li><i class="fa fa-map-marker default-mustard"></i> Lagos State</li>
                <li><i class="fa fa-insurance"></i> Insurance Covered</li>
              </ul>
              <ul class="cart-info-detials">
                <li>
                  <span>Returns</span>
                  14%
                </li>
                <li>
                  <span>Duration</span>
                  6 Months
                </li>
                <li>
                  <span>Units available</span>
                  10
                </li>
              </ul>
          </div>
        </div>

        </div>
        </td>
        <td class="product-count">
        <form action="#" class="count-inlineflex">
        <div class="qtyminus">-</div>
        <input type="text" name="quantity" value="1" class="qty">
        <div class="qtyplus">+</div>
        </form>
        </td>
        <td>
        <div class="total">
         <span class="amount">₦20,000</span>
        <ul class="option">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Save for later</a></li>
          <li><a href="#"><i class="fa fa-trash"></i></a></li>
        </ul>
        </div>
        </td>
        </tr>
    </tbody>
    </table>
    </div>
    <!-- /.table-cart -->
    </div>
    <div class="col-md-12 col-lg-4">
    <div class="cart-totals">
    <h3>Order summary</h3>
    <form action="#" method="get" accept-charset="utf-8">
    <table>
    <tbody>
    <tr>
    <td>Subtotal</td>
    <td class="subtotal">₦40,000</td>
    </tr>
    <tr>
    <td>Shipping</td>
    <td class="free-shipping">Free Shipping</td>
    </tr>
    <tr class="total-row">
    <td>Total Cost</td>
    <td class="price-total">₦40,000</td>
    </tr>
    </tbody>
    </table>
    <div class="btn-cart-totals">
    <a routerLink="/checkout" class="update green-lg-btn" title="">Checkout</a>
    <a routerLink="/sponsorshop" class="checkout round-black-btn" title="">Continue Shopping </a>
    </div>
    <!-- /.btn-cart-totals -->
    </form>
    <!-- /form -->
    </div>
    <!-- /.cart-totals -->
    </div>
    </div>
  </div>
</section>
<!--Cart Page End-->