.team-sponsorship-banner{
    background: url('../../assets/image/legal/terms-of-spopnsorship-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}