 <!--Banner start-->
 <div class="bradcam_area story-banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-left">
                    <h3>Farmer Stories</h3>
                    <p>Stories which sounds like a dream</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--Banner END-->
<section class="story-video">
    <div class="container">
        <div class="col-sm-10 space-lf">
            <h3 class="text-center robot">Empowering small-holder farmers to increase domestic food production and security.</h3>
            <p class="text-center openSans">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
        <div class="video-section">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <img data-toggle="modal" data-target="#homeVideo" class="img-responsive" src="http://www.gossettmktg.com/video/dangot.png" onclick="playVid()" />
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img data-toggle="modal" data-target="#homeVideo1" class="img-responsive" src="http://www.gossettmktg.com/video/dangot.png" onclick="playVid()" />  
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img data-toggle="modal" data-target="#homeVideo2" class="img-responsive" src="http://www.gossettmktg.com/video/dangot.png" onclick="playVid()" />  
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img data-toggle="modal" data-target="#homeVideo3" class="img-responsive" src="http://www.gossettmktg.com/video/dangot.png" onclick="playVid()" />
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img data-toggle="modal" data-target="#homeVideo4" class="img-responsive" src="http://www.gossettmktg.com/video/dangot.png" onclick="playVid()" />  
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img data-toggle="modal" data-target="#homeVideo5" class="img-responsive" src="http://www.gossettmktg.com/video/dangot.png" onclick="playVid()" />  
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
            <div class="">
                <div class="yellow-bg">
                <h6><div class="row">
                    <span class="col-sm-9"> Let’s Empower small-holder farmers to increase domestic food production and security.</span>
                    <span class="col-sm-3"><a href="#" class="start-btn">Start Investing Today</a></span>
                </div>
                </h6>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="homeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()">X</button>
        <div class="modal-content">
        <div class="embed-responsive embed-responsive-16by9">
            <video id="gossVideo" class="embed-responsive-item" controls="controls" poster="http://www.gossettmktg.com/video/dangot.png">
            <source src="http://www.gossettmktg.com/video/dangot.mp4" type="video/mp4">
            <source src="http://www.gossettmktg.com/video/dangot.webm" type="video/webm">
            <source src="http://www.gossettmktg.com/video/dangot.ogv" type="video/ogg">
            <object type="application/x-shockwave-flash" data="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="353" height="190">
                <param name="movie" value="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
                <param name="allowFullScreen" value="true">
                <param name="wmode" value="transparent">
                <param name="flashVars" value="config={'playlist':['http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.png',{'url':'http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.mp4','autoPlay':false}]}">
                <img alt="Big Buck Bunny" src="http://www.gossettmktg.com/video/dangot.png" width="353" height="190" title="No video playback capabilities, please download the video below">
            </object>
            </video>
        </div>
        </div>
    </div>
</div>
<!--second-->
<div class="modal fade" id="homeVideo1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()">X</button>
        <div class="modal-content">
        <div class="embed-responsive embed-responsive-16by9">
            <video id="gossVideo" class="embed-responsive-item" controls="controls" poster="http://www.gossettmktg.com/video/dangot.png">
            <source src="http://www.gossettmktg.com/video/dangot.mp4" type="video/mp4">
            <source src="http://www.gossettmktg.com/video/dangot.webm" type="video/webm">
            <source src="http://www.gossettmktg.com/video/dangot.ogv" type="video/ogg">
            <object type="application/x-shockwave-flash" data="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="353" height="190">
                <param name="movie" value="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
                <param name="allowFullScreen" value="true">
                <param name="wmode" value="transparent">
                <param name="flashVars" value="config={'playlist':['http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.png',{'url':'http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.mp4','autoPlay':false}]}">
                <img alt="Big Buck Bunny" src="http://www.gossettmktg.com/video/dangot.png" width="353" height="190" title="No video playback capabilities, please download the video below">
            </object>
            </video>
        </div>
        </div>
    </div>
</div>
<!--third-->
<div class="modal fade" id="homeVideo3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()">X</button>
        <div class="modal-content">
        <div class="embed-responsive embed-responsive-16by9">
            <video id="gossVideo" class="embed-responsive-item" controls="controls" poster="http://www.gossettmktg.com/video/dangot.png">
            <source src="http://www.gossettmktg.com/video/dangot.mp4" type="video/mp4">
            <source src="http://www.gossettmktg.com/video/dangot.webm" type="video/webm">
            <source src="http://www.gossettmktg.com/video/dangot.ogv" type="video/ogg">
            <object type="application/x-shockwave-flash" data="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="353" height="190">
                <param name="movie" value="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
                <param name="allowFullScreen" value="true">
                <param name="wmode" value="transparent">
                <param name="flashVars" value="config={'playlist':['http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.png',{'url':'http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.mp4','autoPlay':false}]}">
                <img alt="Big Buck Bunny" src="http://www.gossettmktg.com/video/dangot.png" width="353" height="190" title="No video playback capabilities, please download the video below">
            </object>
            </video>
        </div>
        </div>
    </div>
</div>
<!--four-->
<div class="modal fade" id="homeVideo4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()">X</button>
        <div class="modal-content">
        <div class="embed-responsive embed-responsive-16by9">
            <video id="gossVideo" class="embed-responsive-item" controls="controls" poster="http://www.gossettmktg.com/video/dangot.png">
            <source src="http://www.gossettmktg.com/video/dangot.mp4" type="video/mp4">
            <source src="http://www.gossettmktg.com/video/dangot.webm" type="video/webm">
            <source src="http://www.gossettmktg.com/video/dangot.ogv" type="video/ogg">
            <object type="application/x-shockwave-flash" data="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="353" height="190">
                <param name="movie" value="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
                <param name="allowFullScreen" value="true">
                <param name="wmode" value="transparent">
                <param name="flashVars" value="config={'playlist':['http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.png',{'url':'http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.mp4','autoPlay':false}]}">
                <img alt="Big Buck Bunny" src="http://www.gossettmktg.com/video/dangot.png" width="353" height="190" title="No video playback capabilities, please download the video below">
            </object>
            </video>
        </div>
        </div>
    </div>
</div>
<!--five-->
<div class="modal fade" id="homeVideo5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()">X</button>
        <div class="modal-content">
        <div class="embed-responsive embed-responsive-16by9">
            <video id="gossVideo" class="embed-responsive-item" controls="controls" poster="http://www.gossettmktg.com/video/dangot.png">
            <source src="http://www.gossettmktg.com/video/dangot.mp4" type="video/mp4">
            <source src="http://www.gossettmktg.com/video/dangot.webm" type="video/webm">
            <source src="http://www.gossettmktg.com/video/dangot.ogv" type="video/ogg">
            <object type="application/x-shockwave-flash" data="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="353" height="190">
                <param name="movie" value="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
                <param name="allowFullScreen" value="true">
                <param name="wmode" value="transparent">
                <param name="flashVars" value="config={'playlist':['http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.png',{'url':'http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.mp4','autoPlay':false}]}">
                <img alt="Big Buck Bunny" src="http://www.gossettmktg.com/video/dangot.png" width="353" height="190" title="No video playback capabilities, please download the video below">
            </object>
            </video>
        </div>
        </div>
    </div>
</div>

