 
 <!--Banner start-->
 <div class="bradcam_area sponsorshop-banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-left">
                    <h3>Sponsorshop </h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--Banner END-->
  <section class="production-section spad-50">
    <div class="container">
        <div class="headline-pro">
            <a href="" class="active">All Sectors</a>
            <a href=""> Agriculture</a>
            <a href=""> Transportation</a>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/1">
                        <h5 class="roboto">Poultry Farm Farm</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Now Selling</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/2">
                        <h5 class="roboto">Beef Processing and Trading</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Now Selling</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/3">
                        <h5 class="roboto">Fresh Produce Trading</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Sold out</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/4">
                        <h5 class="roboto">Poultry Farm Farm</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Now Selling</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/5">
                        <h5 class="roboto">Beef Processing and Trading</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Now Selling</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/6">
                        <h5 class="roboto">Fresh Produce Trading</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Sold out</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/7">
                        <h5 class="roboto">Poultry Farm Farm</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Now Selling</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/8">
                        <h5 class="roboto">Beef Processing and Trading</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Now Selling</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/9">
                        <h5 class="roboto">Fresh Produce Trading</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Sold out</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/10">
                        <h5 class="roboto">Poultry Farm Farm</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Now Selling</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/11">
                        <h5 class="roboto">Beef Processing and Trading</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Now Selling</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="product-item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="product-sub">
                        <a href="/sponsorshop/12">
                        <h5 class="roboto">Fresh Produce Trading</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <span class=" span-now green-sm-btn openSansSemi">Sold out</span>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                        </a>
                    </div>
                </div>
            </div>
           
            <div class="page-nation spad-50">
                <div class="container">
                    <div class="col-sm-12">
                        <ul class="pagination pagination-large">
                            <li class="disabled"><span> < </span></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a rel="next" href="#">></a></li>
                        </ul>
                    </div>
            </div>
            </div>
        </div>  
    </div>
  </section>
