  <!--Details Page Start-->
 <!--Banner start-->
 <div class="bradcam_area sponsorshop-details-banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-left">
                    <h3>Opportunity Details</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--Banner END-->
  <section class="details-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <img src="/../assets/image/sponsorshop/cow.png" alt="" class="img-responsive">
        </div>
        <div class="details col-sm-12 col-md-8">
            <div class="product-id">
              <h3 class="product-title">Poultry Farm Processing and Trading</h3>
                <span class="text-right default-lightGreen pro-cost">₦20,000
                  <pre>per unit</pre>
                </span>
              </div>
              <div class="pro-info">
                <div class="row">
                <ul class="col-md-12 col-lg-8">
                  <li><i class="fa fa-map-marker default-mustard"></i> Lagos State</li>
                  <li><i class="fa fa-insurance"></i> Insurance Covered</li>
                </ul>
                <span class="save-item col-md-12 col-lg-4"><i class="fa fa-heart-o"></i> Save this offer</span>
              </div>
            </div>
            <div class="pro-info-detials">
               <ul>
                  <li>
                    <span>Returns</span>
                    14%
                  </li>
                  <li>
                    <span>Duration</span>
                    6 Months
                  </li>
                  <li>
                    <span>Units available</span>
                    10
                  </li>
                  <li class="add-to-cart-btn">
                    <a class="btn green-lg-btn roboto">Add to cart</a>
                  </li>
               </ul>
            </div>
					</div>
      </div>
    </div>
  </section>
  <section class="product-content">
    <div class="container">
      <h3>Farm Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>What does my investment cover?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Poultry</h3>
      <p>Poultry refers to birds such as chickens, turkeys, ducks, and geese farmed for the purpose of meat, and eggs. Chickens raised for eggs are called Layers while chickens raised for meat are called Broilers.</p>
      <p> Although, poultry may not directly be raised for manure, of all animal manure, poultry has the highest amount of nitrogen, phosphorus, and potassium and is used as an organic fertilizer, especially for soil low in nitrogen.</p>
      <p>According to a 2015 report from Sahel Capital, Nigeria’s egg production is the largest and Nigeria has the second largest chicken population in Africa after South Africa.</p>
      <p>Poultry is a major source of protein in the Nigerian diet. It is used as a recipe for many dishes and can be consumed boiled, fried, roasted or grilled.</p>
    </div>
  </section>
 <!--Details Page End-->

  <!--Cart Page Start-->
<section class="cart-section">
  <div class="container">
    <div class="row">
    <div class="col-md-12 col-lg-8">
    <div class="main-heading">Shopping Cart</div>
    <div class="table-cart">
    <table>
    <thead>
    <tr>
    <th>Sponsorship Details</th>
    <th>Unit</th>
    <th class="text-center">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>
    <div class="display-flex align-center">
    <div class="img-product">
      <img src="https://www.91-img.com/pictures/laptops/asus/asus-x552cl-sx019d-core-i3-3rd-gen-4-gb-500-gb-dos-1-gb-61721-large-1.jpg" alt="" class="mCS_img_loaded">
    </div>
    <div class="name-product">
      <h5>Poultry Farm Processing and Trading</h5>
      <div class="cart-info">
          <ul class="cart-list">
            <li><i class="fa fa-map-marker default-mustard"></i> Lagos State</li>
            <li><i class="fa fa-insurance"></i> Insurance Covered</li>
          </ul>
          <ul class="cart-info-detials">
            <li>
              <span>Returns</span>
              14%
            </li>
            <li>
              <span>Duration</span>
              6 Months
            </li>
            <li>
              <span>Units available</span>
              10
            </li>
          </ul>
      </div>
    </div>

    </div>
    </td>
    <td class="product-count">
    <form action="#" class="count-inlineflex">
    <div class="qtyminus">-</div>
    <input type="text" name="quantity" value="1" class="qty">
    <div class="qtyplus">+</div>
    </form>
    </td>
    <td>
    <div class="total">
     <span class="amount">₦20,000</span>
    <ul class="option">
      <li><a href="#">Edit</a></li>
      <li><a href="#">Save for later</a></li>
      <li><a href="#"><i class="fa fa-trash"></i></a></li>
    </ul>
    </div>
    </td>
    </tr>
    <tr>
        <td>
        <div class="display-flex align-center">
        <div class="img-product">
          <img src="https://www.91-img.com/pictures/laptops/asus/asus-x552cl-sx019d-core-i3-3rd-gen-4-gb-500-gb-dos-1-gb-61721-large-1.jpg" alt="" class="mCS_img_loaded">
        </div>
        <div class="name-product">
          <h5>Poultry Farm Processing and Trading</h5>
          <div class="cart-info">
              <ul class="cart-list">
                <li><i class="fa fa-map-marker default-mustard"></i> Lagos State</li>
                <li><i class="fa fa-insurance"></i> Insurance Covered</li>
              </ul>
              <ul class="cart-info-detials">
                <li>
                  <span>Returns</span>
                  14%
                </li>
                <li>
                  <span>Duration</span>
                  6 Months
                </li>
                <li>
                  <span>Units available</span>
                  10
                </li>
              </ul>
          </div>
        </div>

        </div>
        </td>
        <td class="product-count">
        <form action="#" class="count-inlineflex">
        <div class="qtyminus">-</div>
        <input type="text" name="quantity" value="1" class="qty">
        <div class="qtyplus">+</div>
        </form>
        </td>
        <td>
        <div class="total">
         <span class="amount">₦20,000</span>
        <ul class="option">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Save for later</a></li>
          <li><a href="#"><i class="fa fa-trash"></i></a></li>
        </ul>
        </div>
        </td>
        </tr>
    </tbody>
    </table>
    </div>
    <!-- /.table-cart -->
    </div>
    <div class="col-md-12 col-lg-4">
    <div class="cart-totals">
    <h3>Order summary</h3>
    <form action="#" method="get" accept-charset="utf-8">
    <table>
    <tbody>
    <tr>
    <td>Subtotal</td>
    <td class="subtotal">₦40,000</td>
    </tr>
    <tr>
    <td>Shipping</td>
    <td class="free-shipping">Free Shipping</td>
    </tr>
    <tr class="total-row">
    <td>Total Cost</td>
    <td class="price-total">₦40,000</td>
    </tr>
    </tbody>
    </table>
    <div class="btn-cart-totals">
    <a href="#" class="update green-lg-btn" title="">Checkout</a>
    <a href="#" class="checkout round-black-btn" title="">Continue Shopping </a>
    </div>
    <!-- /.btn-cart-totals -->
    </form>
    <!-- /form -->
    </div>
    <!-- /.cart-totals -->
    </div>
    </div>
  </div>
</section>
<!--Cart Page End-->


 <!--Cart Page Start-->
 <section class="checkout-section">
    <div class="container">
      <div class="row">
      <div class="col-md-12 col-lg-8">
      <div class="main-heading">Billing Details</div>
      <form action="#" class="billingFrom">
          <div class="input-list">
              <div class="row">
                  <div class="col-sm-6">
                      <label>First name</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Last name</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Email</label>
                      <input type="number" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Phone number</label>
                      <input type="text" value="" required>
                  </div>
                  <hr style=" display: block; clear: both;width: 100%;">
                  <div class="main-heading">Shipping Address</div>
                  <div class="col-sm-12">
                      <label>Address</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>City</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>State/Province</label>
                      <input type="number" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Zip/Posta</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Country</label>
                      <select required>
                        <option>1</option>
                        <option>1</option>
                      </select>
                  </div>
                  <hr style=" display: block; clear: both;width: 100%;">
                  <div class="main-heading">Payment Method</div>
                  <div class="col-sm-12">
                      <label>Please Select Your Card Type</label>
                      <select>
                        <option>Card Type</option>
                        <option>Visa</option>
                        <option>Master Card</option>
                        <option>Amex</option>
                      </select>
                  </div>
                  <div class="col-sm-12">
                      <label>Card Number</label>
                      <input type="number" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Expiry Date</label>
                      <select class="form-control" name="">
                          <option value="">Month</option>
                          <option value="01">01</option>
                          <option value="02">02</option>
                          <option value="03">03</option>
                          <option value="04">04</option>
                          <option value="05">05</option>
                          <option value="06">06</option>
                          <option value="07">07</option>
                          <option value="08">08</option>
                          <option value="09">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                  </select>
                  </div>
                  <div class="col-sm-6">
                      <label>CSC/CVV</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>First Name</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-6">
                      <label>Last Name</label>
                      <input type="text" value="" required>
                  </div>
                  <div class="col-sm-12">
                   By clicking the button you agree to the
                   <a href="#" class="default-lightGreen">Terms and Conditions</a>
                  </div>
              </div>
          </div>
          <div class="text-center col-sm-12">
          <a href="#" class="site-btn">Place Order</a>
         </div>
      </form>
      </div>
      <div class="col-md-12 col-lg-4">
      <div class="cart-totals">
      <h3>Cart summary</h3>
      <form action="#" method="get" class="cartForm" accept-charset="utf-8">
      <table>
      <tbody>
      <tr>
      <td>
          <img class="img-responsive" src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg">
      </td>
      <td>
          <span>Poultry Farm Processing and Trading</span>
      </td>
      <td class="subtotal">₦40,000</td>
      </tr>
      <tr>
          <td>
              <img class="img-responsive" src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg">
          </td>
          <td>
              <span>Poultry Farm Processing and Trading</span>
          </td>
          <td class="subtotal">₦40,000</td>
          </tr>
      <tr class="total-row">
      <td>Total Cost</td>
      <td></td>
      <td class="price-total">₦40,000</td>
      </tr>
      </tbody>
      </table>
      <div class="btn-cart-totals">
      <a href="#" class="update green-lg-btn" title="">Checkout</a>
      <a href="#" class="checkout round-black-btn" title="">Continue Shopping </a>
      </div>
      <!-- /.btn-cart-totals -->
      </form>
      <!-- /form -->
      </div>
      <!-- /.cart-totals -->
      </div>
      </div>
    </div>
  </section>
  <!--Cart Page End-->
