 <!--Banner start-->
 <div class="bradcam_area partner-banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-left">
                    <h3>Contact</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--Banner END-->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Complete the following to countinue</h3>
                <h6>Fill out the form below to see the more details.</h6>
                <form action="#" class="contactFrom">
                    <label class="all-label">All fields with * are required</label>
                    <div class="input-list">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>First name</label>
                                <input type="text" value="" required>
                            </div>
                            <div class="col-sm-6">
                                <label>Last name</label>
                                <input type="text" value="" required>
                            </div>
                            <div class="col-sm-6">
                                <label>Email</label>
                                <input type="number" value="" required>
                            </div>
                            <div class="col-sm-6">
                                <label>Phone number</label>
                                <input type="text" value="" required>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                    <a href="#" class="site-btn">Coutinue to Opportunity Details</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

