<!--home -->
<section class="hero-section">
    <div class="hero__slider owl-carousel set-bg">
        <!--img src="../../assets/image/home/home-banner1.jpg" alt=""-->
        <owl-carousel [options]="carouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
			<div class="hero__item" >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2><span style="color: #ffc824">{{ homebanner.uptitle }}</span><br />
                                    <span  style="color: #72c130;">{{ homebanner.subtitle }}</span></h2>
                                <p>{{homebanner.partext}}</p>
                                <a href="{{homebanner.anchorLink}}" class="green-lg-btn">{{homebanner.anchorText}} <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item" >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                          <div class="hero__text">
                            <h2><span style="color: #ffc824">{{ homebannerSec.uptitle }}</span><br />
                                <span  style="color: #72c130;">{{ homebannerSec.subtitle }}</span></h2>
                            <p>{{homebannerSec.partext}}</p>
                            <a href="{{homebannerSec.anchorLink}}" class="green-lg-btn">{{homebannerSec.anchorText}} <i class="fa fa-angle-right"></i></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </owl-carousel>
    </div>
</section>
<!-- Home Section End -->
  <!-- opportunities Section Begin -->
   <section class="opportunities-section spad" *ngIf="opportunities">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-left">
                    <h3 class="roboto">{{opportunities.header}}</h3>
                    <p class="roboto">{{opportunities.headerPara}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6" >
                <div class="opportunities__item">
                        <img src="/../assets/image/home/new-opp-1.png" class="img-responsive" alt="">
                    <div class="opportunities-sub">
                        <h5 class="roboto">Poultry Farm</h5>
                        <span class="loc roboto" ><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                        <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <span class="price openSansSemi">₦20,000</span>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <a class="btn green-sm-btn openSansSemi" href="#">Now Selling</a>
                                </div>
                            </div>
                        <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="opportunities__item">
                        <img src="/../assets/image/home/new-opp-2.png" class="img-responsive" alt="">
                        <div class="opportunities-sub">
                                <h5 class="roboto">Beef Processing and Trading</h5>
                                <span class="loc roboto"><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                                <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                                <span class="price openSansSemi">₦20,000</span>
                                        </div>
                                        <div class="col-xs-12 col-md-6 text-right">
                                            <a class="btn green-sm-btn openSansSemi" href="#">Now Selling</a>
                                        </div>
                                    </div>
                                <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                            </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="opportunities__item">
                    <img src="/../assets/image/home/new-opp-3.png" class="img-responsive" alt="">
                    <div class="opportunities-sub">
                            <h5 class="roboto">Fresh Produce Trading</h5>
                            <span class="loc roboto"><i class="fa fa-map-marker default-mustard"></i>Lagos State</span>
                            <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                            <span class="price openSansSemi">₦20,000</span>
                                    </div>
                                    <div class="col-xs-12 col-md-6 text-right">
                                        <a class="btn sold-sm-btn openSansSemi" href="#">Sold out</a>
                                    </div>
                                </div>
                            <p class="return-graph openSansSemi"><i><img src="/../assets/image/home/return-graph.png" alt="graph"></i>14% Returns in 6 months</p>
                        </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 text-center">
            <a class="btn btn-green-border openSansSemi see">See more<i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</section>
<!-- opportunities Section End -->

<!--HOW IT WORK START-->
        <section class="work-start-section">
            <div class="container">
                <h4 class="text-center work-heading roboto">{{HowItworks.title}}</h4>
                <div class="works">
                    <section>
                        <span class="work-icon"><img src="/../assets/image/home/join-mukoko.png" alt="join Mukoko"></span>
                        <h4 class="roboto">Join Mukoko</h4>
                        <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </section>
                    <section>
                        <span class="work-icon"><img src="/../assets/image/home/investment.png" alt="Start Investing"></span>
                        <h4 class="roboto">Start Investing</h4>
                        <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </section>
                    <section>
                        <span class="work-icon"><img src="/../assets/image/home/track.png" alt="Track Updates"></span>
                        <h4 class="roboto">Track Updates</h4>
                        <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </section>
                    <section>
                        <span class="work-icon"><img src="/../assets/image/home/get-return.png" alt="Get Returns"></span>
                        <h4 class="roboto">Get Returns</h4>
                        <p class="openSansSemi">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </section>
                </div>
                <div class="work-info-foo text-center">
                    <h4 class="openSansSemi">{{HowItworks.para}}</h4>
                    <a class="btn green-lg-btn roboto" href="{{HowItworks.freqLink}}">{{HowItworks.freqTxt}}</a>
                </div>
            </div>
        </section>
  <!--HOW IT WORK END-->

  <!--What People say start-->
        <section class="people-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/../assets/image/home/{{peopleSay.img}}" class="img-responsive" alt="What people say about us">
                    </div>
                    <div class="col-sm-6">
                        <div class="people-head text-left">
                            <h4 class="default-mustard roboto"> {{peopleSay.title}}</h4>
                            <h6 class="default-mustard openSansSemi">{{peopleSay.subTitle}}</h6>
                            <p>{{peopleSay.para}} </p>
                            <a class="btn mustard-lg-btn roboto" routerLink="{{peopleSay.btnHref}}"><i class="fa fa fa-play-circle"></i> {{peopleSay.btnText}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  <!--What People say END-->

  <!--safe section Stat-->
        <section class="safe-section">
                <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="safe-head text-left">
                                    <h4 class="roboto"> {{safeSection.title}}</h4>
                                    <p class="openSansSemi">{{safeSection.desc}} </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <img src="/../assets/image/home/{{safeSection.img}}" class="img-responsive" alt="What people say about us">
                            </div>
                        </div>
                    </div>
        </section>
  <!--safe section END-->
