/*---------------------
  Hero
-----------------------*/
.hero__slider.owl-carousel {
    height: 100%;
}
.set-bg{
	background: url(../../assets/image/home/home-banner1.png) #72c130;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: top center;
}

.hero__slider.owl-carousel {
    display: block;
}

/*---------------------
  Hero
-----------------------*/
.hero__slider.owl-carousel .owl-dots button:last-child {
	margin-right: 0;
}

.hero__item {
	height: 840px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.hero__item .hero__text {
	padding-top: 0px;
	padding-left: 50px;
}

.hero__item .hero__text p {
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 50px;
	position: relative;
	top: 0px;
  font-family:'Roboto';
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 18px;
}

.hero__item .hero__text h2 {
	color: #ffc824;
	font-weight: 300;
	line-height: 47px;
	text-transform: uppercase;
	margin-bottom: 28px;
	position: relative;
	top: 100px;
	opacity: 0;
	-webkit-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}
.hero__item a.green-lg-btn{
   font-family: 'Roboto' !important;
}
.hero__item .hero__text .primary-btn {
	position: relative;
	top: 100px;
	opacity: 0;
	-webkit-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}
.hero__slider.owl-carousel .owl-item.active h5 {
	top: 0 !important;
	opacity: 1 !important;
}

.hero__slider.owl-carousel .owl-item.active h2 {
	top: 0 !important;
	opacity: 1 !important;
}

.hero__slider.owl-carousel .owl-item.active .primary-btn {
	top: 0 !important;
	opacity: 1 !important;
}


/*---------------------
  opportunities Section
-----------------------*/

.opportunities-section {
	background: #72c130;
  padding-bottom: 60px;
  padding-top: 0px;
}
.opportunities__item img{
	width: 100%;
}
.opportunities-section .section-title{
    margin-bottom: 35px;
}
.opportunities-section .section-title h3, .opportunities-section .section-title p{
    color: #ffffff;
}
.opportunities__item {
	background: #ffffff;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
	padding-bottom: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 10px rgba(18, 8, 81, 0.15);
	box-shadow: 0px 0px 10px rgba(18, 8, 81, 0.15);
	margin-bottom: 40px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.opportunities-sub{
    padding: 20px;
}
span.loc{
    color: #999999;
}
span.loc .fa{
    padding-right: 10px;
}
span.price{
    color: #72c130;
}
.see .fa{
    padding-left: 10px;
    transform: translate(10px, 0px);
}
.opportunities__item:hover {
	-webkit-box-shadow: 0px 8px 30px rgba(18, 8, 81, 0.2);
	box-shadow: 0px 8px 30px rgba(18, 8, 81, 0.2);
}

.opportunities__item h5 {
	font-size: 20px;
	color: #222222;
	font-weight: 700;
	margin-bottom: 8px;
}

.opportunities__item span {
	font-size: 15px;
	display: block;
	margin-bottom: 10px;
}

.opportunities__item p {
    color: #222222;
    margin-bottom: 0px;
}
.return-graph i{
  padding-right: 9px;
}

/* What People say */
section.people-section {
    padding: 60px 0px;
}
.people-head {
    padding: 10px 0px;
}
.people-head h4 {
    padding: 0px 0px 10px;
    font-size: 34px;
}
.people-head h6 {
    padding-bottom: 30px;
}
.people-head p {
    padding-bottom: 25px;
}

/*safe section Stat*/
section.safe-section {
    box-shadow: 0px 9px 13px 0 rgba(182, 212, 210, 0.35);
    background-color: #e8f6f5;
    padding: 50px 0px;
}
.safe-head h4{
	color: #196f69;
	font-size: 35px;
	padding-bottom: 34px;
}
