   <!--Details Page Start-->
 <!--Banner start-->
 <div class="bradcam_area sponsorshop-details-banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-left">
                    <h3>Opportunity Details ++++ {{detailId}}</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--Banner END-->
  <section class="details-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <img src="/../assets/image/sponsorshop/cow.png" alt="" class="img-responsive">
        </div>
        <div class="details col-sm-12 col-md-8">
            <div class="product-id">
              <h3 class="product-title">Poultry Farm Processing and Trading</h3>
                <span class="text-right default-lightGreen pro-cost">₦20,000
                  <pre>per unit</pre>
                </span>
              </div>
              <div class="pro-info">
                <div class="row">
                <ul class="col-md-12 col-lg-8">
                  <li><i class="fa fa-map-marker default-mustard"></i> Lagos State</li>
                  <li><i class="fa fa-insurance"></i> Insurance Covered</li>
                </ul>
                <span class="save-item col-md-12 col-lg-4"><i class="fa fa-heart-o"></i> Save this offer</span>
              </div>
            </div>
            <div class="pro-info-detials">
               <ul>
                  <li>
                    <span>Returns</span>
                    14%
                  </li>
                  <li>
                    <span>Duration</span>
                    6 Months
                  </li>
                  <li>
                    <span>Units available</span>
                    10
                  </li>
                  <li class="add-to-cart-btn">
                    <a class="btn green-lg-btn roboto" routerLink="/cart">Add to cart</a>
                  </li>
               </ul>
            </div>
					</div>
      </div>
    </div>
  </section>
  <section class="product-content">
    <div class="container">
      <h3>Farm Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>What does my investment cover?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Poultry</h3>
      <p>Poultry refers to birds such as chickens, turkeys, ducks, and geese farmed for the purpose of meat, and eggs. Chickens raised for eggs are called Layers while chickens raised for meat are called Broilers.</p>
      <p> Although, poultry may not directly be raised for manure, of all animal manure, poultry has the highest amount of nitrogen, phosphorus, and potassium and is used as an organic fertilizer, especially for soil low in nitrogen.</p>
      <p>According to a 2015 report from Sahel Capital, Nigeria’s egg production is the largest and Nigeria has the second largest chicken population in Africa after South Africa.</p>
      <p>Poultry is a major source of protein in the Nigerian diet. It is used as a recipe for many dishes and can be consumed boiled, fried, roasted or grilled.</p>
    </div>
  </section>
 <!--Details Page End-->

  
